.client-panel{

    align-items: center;
    padding: 20px;
    background-color: var(--backgroundcolorlight);
    opacity: 0.75;
    width:80%;
        box-shadow: 
    0px 1px 5px 0px var(--primary-color),
    1px 1px 5px 0px var(--primary-color),
    -1px 1px 5px 0px var(--primary-color),
    0px -1px 5px 0px var(--secondary-color);
    margin:auto;

    height: 800px;
}

.clients-list{
    height:90%;
    width:100%;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
}

.clients-list > .client-card{
    width:80%;
    text-align: center;
    margin:auto;
    margin-top:15px;
}