:root{
    --backgroundcolordark: #ececec;
    --backgroundcolorlight: #fcfbfb;
    --primary-color:  	#61868d;
    --secondary-color:  #cde3e7;
    --text-color: #2e2e2e;
    --font-family: 'Lato', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--backgroundcolordark);
    /*background-image:url('../public/black-paper.png');*/
    background-blend-mode:hard-light;
    color: var(--text-color);
    font-family: var(--font-family);
}

.remove-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  color: #d00;
  cursor: pointer;
  font-weight: bold;
}

.App{
    margin-top:120px;
}